<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cooplas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".utils.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.home.FollowersUsersActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.home.SearchUserActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.home.FollowingUsersActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.Music.NowPlayingActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.Music.PlaylistDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.StoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activities.home.EditPostActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.home.HomeCreatePostActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".signup_screens.EmailInAppScreeenVerification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.home.HomePostLikesActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activities.Music.AlbumActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Music.ArtistDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Music.AllYourPlaylistActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Music.AllTrendingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Music.MusicActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Food.AddressesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Food.ReviewRestaurantsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Food.FoodOrderDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SupportTicketsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ReportBugActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Travel.Customer.SupportActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ContactUsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />


        <activity
            android:name=".activities.home.VideoViewActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/AppTheme.NoActionBar">


        </activity>


        <activity
            android:name=".activities.home.HomeCommentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.home.ImageViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activities.Travel.Customer.AddAddressDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Travel.Customer.AddAddressActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Travel.Customer.FaqDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activities.Travel.Customer.FaqActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.EnterNewPassword"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Travel.Customer.InviteFriendsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Travel.Customer.PromoCodeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Travel.Customer.NotificationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Travel.Customer.RidesHistoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Travel.Customer.ReachedAtPickUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Travel.Customer.RideCompleteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Travel.Customer.SetAddressActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Food.FoodTrackOrderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Travel.Customer.MainCustomerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Food.FoodOrderHistoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Food.CheckoutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Food.FoodCartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Food.RestaurantDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Food.FoodFilterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Food.FoodActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Food.AllCategoriesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Food.AllNearYouActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Food.AllForYouActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Food.AllPopularRestaurantActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Wallet.WalletActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Wallet.RechargeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MessagingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".splashscreen.SplashScreen2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".splashscreen.SplashScreen5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".splashscreen.SplashScreen4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".splashscreen.SplashScreen3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SigninSignupScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".signup_screens.PhoneVerificatoinScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".signup_screens.CompleteSignup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".splashscreen.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ForgotPassword"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.profile.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.FollowingScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.profile.EditProfileScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.PostImageVideo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.FollowerScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.NotificationScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".signup_screens.EmailVerificationScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.home.PostCommentActivity"
            android:theme="@style/AppTheme.NoActionBar" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDnwPC80ZGwM5fFmhT1vfaSp25Ys6PY5bQ" />
    </application>

</manifest>